<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Информация о пациенте</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/all.min.css" rel="stylesheet">
    <style>
        body { font-family: Arial, sans-serif; }
        .container { margin-top: 20px; }
        .patient-info, .appointment-form { margin-bottom: 20px; }
        .patient-info label { font-weight: bold; }      
        .patient-info p { margin-bottom: 5px; }
        .patient-info .empty-info { color: #999; }
        .no-data { text-decoration: underline; }
        .div { padding-left: 0px !important;  }
        .container {
            margin-top: 50px;
        }
        .table-container {
            margin: 20px;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .table th, .table td {
            vertical-align: middle;
            text-align: center;
        }
            
        table {
            width: 100%;
            border-collapse: collapse;
        }
        
        th, td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        
        th {
            background-color: #343a40; /* Черный цвет для заголовков */
            color: #fff;
            font-weight: bold;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        
        tr:hover {
            background-color: #ddd;
        }

        .no-data {
            color: #888;
        }

        .btn {
            padding: 6px 12px;
            font-size: 14px;
            border-radius: 4px;
            cursor: pointer;
            border: none;
        }

        .btn-danger {
            background-color: #dc3545;
            color: white;
        }

        .btn-danger:hover {
            background-color: #c82333;
        }
        .table thead th {
            background-color: #343a40;
            color: #fff;
        }
        .table tbody tr:nth-child(odd) {
            background-color: #f2f2f2;
        }
        .modal .form-control {
            margin-bottom: 15px;
        }
        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }
        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #004085;
        }
        .btn-danger {
            background-color: #dc3545;
            border-color: #dc3545;
        }
        .btn-danger:hover {
            background-color: #c82333;
            border-color: #bd2130;
        }
/* Основные стили для контейнера с таблицами */
.tables-container {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Отступ между таблицами */
    flex-wrap: wrap; /* Обеспечивает перенос таблиц на следующую строку на маленьких экранах */
    margin: 10px;
}

/* Стиль для каждой таблицы */
.table-box {
    flex: 1; /* Таблицы будут занимать одинаковое пространство */
    min-width: 0; /* Позволяет таблицам уменьшаться при необходимости */
    margin: 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

/* Стили для заголовка таблицы и кнопки */
.table-header {
    display: flex;
    justify-content: flex-end; /* Выравнивание кнопки по правому краю */
    margin-bottom: 10px;
}

.btn {
    margin-left: auto; /* Сдвигает кнопку к правому краю */
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Стили для таблиц */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #343a40; /* Черный цвет для заголовков */
    color: #fff;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.no-data {
    color: #888;
}


.patient-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Два равных столбца */
    gap: 20px; /* Промежуток между элементами */
    font-family: Arial, sans-serif;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    padding: 20px;
}

.patient-info p {
    margin: 0; /* Убираем отступы для параграфов */
}

.patient-info strong {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

.text-muted {
    color: #888; /* Серый цвет для отсутствующих данных */
    font-style: italic; /* Курсивный шрифт для отсутствующих данных */
}


    </style>
</head>
<body>
    {% extends "base.html" %}

    {% block styles %}
        <link rel="stylesheet" href="/css/hat.css">
    {% endblock %}
    
    {% block content %}
    <div class="container">
        <h1>Информация о пациенте</h1>
        <div id="patient-details" class="patient-info"></div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editPatientModal">
            Редактировать данные пациента
        </button>
        <button type="button" class="btn btn-danger" id="deletePatientButton">
            Удалить пациента
        </button>

        <h2>Запись на прием</h2>
        <form id="appointmentForm">
            <input type="hidden" id="patient_id" name="patient_id" value="{{ patient_id }}"> <!-- Скрытое поле для patient_id -->
            <div class="form-group">
                <label for="doctor">Выберите врача:</label>
                <select id="doctor" name="doctor_id" class="form-control" required></select>
            </div>
            <div class="form-group">
                <label for="datetime_q">Дата и время:</label>
                <input type="datetime-local" id="datetime_q" name="datetime_q" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="note">Заметка:</label>
                <textarea id="note" name="note" class="form-control"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Записать</button>
        </form>

        <div class="tables-container">
            <div class="table-box">

                <div class="table-header">
                    <h3>Заключения ВВК</h3>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#createVvkModal">Создать запись ВВК</button>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Дата ВВК</th>
                            <th>Номер ВВК</th>
                            <th>Заключение</th>
                            <th>Действия</th>
                      
                        </tr>
                    </thead>
                    <tbody id="vvkList">
                        <!-- Динамически загружаемые строки -->
                    </tbody>
                </table>
            </div>
                
                <div class="table-box">
                    <div class="table-header">
                        <h3>Госпитализации</h3>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#addHospitalizationModal">Добавить направление</button>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Дата</th>
                                <th>Диагноз</th>
                                <th>Направление</th>
                                <th>Действия</th>
                            </tr>
                        </thead>
                        <tbody id="hospitalization-list">
                            <!-- Динамически загружаемые строки -->
                        </tbody>
                    </table>
                </div>
        </div>
            


         
           
                
          

    
         <!-- Modal -->
        <div class="modal fade" id="addHospitalizationModal" tabindex="-1" aria-labelledby="addHospitalizationModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addHospitalizationModalLabel">Направелния на госпитализацию</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="hospitalization-form">
                            <input type="hidden" id="patient_id" value="1"> <!-- Значение этого поля должно быть динамическим -->
                            <div class="form-group">
                                <label for="date">Дата госпитализации</label>
                                <input type="date" id="date" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="diagnosis">Диагноз</label>
                                <textarea id="diagnosis" class="form-control" rows="4" required></textarea>
                            </div>
                            <div class="form-group">
                                <label for="direction">Направление</label>
                                <input type="text" id="direction" class="form-control" list="directions" required>
                                <datalist id="directions">
                                    <option value="РКБ - Республиканская Клиническая Больница">
                                    <option value="ГКБ - Городская Клиническая Больница №7">
                                    <option value="ГВВ - Госпиталь Ветеранов Воин">
                                    <option value="ВГ - Военный Госпиталь (на 150 коек, г. Казань)">
                                </datalist>
                            </div>
                            <button type="submit" class="btn btn-primary">Добавить госпитализацию</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        

        
        <!-- Модальное окно для создания VVK с использованием Bootstrap 5 -->
        <div class="modal fade" id="createVvkModal" tabindex="-1" aria-labelledby="createVvkModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createVvkModalLabel">Создать новую запись VVK</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="createVvkForm">
                            <div class="form-group">
                                <label for="vvk_date" class="form-label">Дата VVK</label>
                                <input type="date" class="form-control" id="vvk_date" name="vvk_date" required>
                            </div>
                            <div class="form-group">
                                <label for="vvk_number" class="form-label">Номер VVK</label>
                                <input type="text" class="form-control" id="vvk_number" name="vvk_number" required>
                            </div>
                            <div class="form-group">
                                <label for="conclusion" class="form-label">Заключение</label>
                                <textarea class="form-control" id="conclusion" name="conclusion" rows="3" required></textarea>
                            </div>
                            <input type="hidden" id="patient_id" name="patient_id" value="{{ patient_id }}">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        <button type="button" class="btn btn-primary" id="createVvkButton" onclick="createVvk()">Создать</button>
                    </div>
                </div>
            </div>
        </div>
  
           
     

        <h2>Активные записи</h2>
        <div id="active-appointments-container"></div>

        <h2>Неактивные записи</h2>
        <div id="inactive-appointments-container"></div>
    </div>

    <!-- Модальное окно для редактирования данных пациента -->
    <div class="modal fade" id="editPatientModal" tabindex="-1" role="dialog" aria-labelledby="editPatientModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editPatientModalLabel">Редактирование данных пациента</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="editPatientForm">
                        <div class="form-group">
                            <label for="editFullName">ФИО:</label>
                            <input type="text" id="editFullName" name="full_name" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="editDirected">Кем Направлен:</label>
                            <input type="text"  id="editDirected" name="directed" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="editBirthday">Дата рождения:</label>
                            <input type="date" id="editBirthday" name="birthday" class="form-control" required>
                        </div>                        
                        <div class="form-group">
                            <label for="editAddress">Адрес:</label>
                            <input type="text" id="editAddress" name="address" class="form-control">
                        </div>
                       
                        <div class="form-group">
                            <label for="editDocument">Документ:</label>
                            <input type="text" id="editDocument" name="document" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="editMilitaryUnit">Воинская часть:</label>
                            <input type="text" id="editMilitaryUnit" name="military_unit" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="editMilitaryRank">Воинское звание:</label>
                            <input type="text" id="editMilitaryRank" name="military_rank" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="editBelonging">Принадлежность:</label>
                            <input type="text" id="editBelonging" list="base" name="belonging" class="form-control">
                            <datalist id="base">
                                <option value="Пенсионер"></option>
                                <option value="Инвалидность"></option>
                                <option value="Ветеран"></option>
                                <option value="Член семьи военнослужащего МО РФ"></option>
                                <option value="Военнослужащий по контракту"></option>
                                <option value="Z-штурм"></option>
                                <option value="Курсант"></option>
                                <option value="Мобилизованный"></option>
                                <option value="ВСО"></option>
                                <option value="Гражданский персонал МО РФ"></option>
                            </datalist>
                        </div>
                        <div class="form-group">
                            <label for="editHostilities">Участие в боевых действиях:</label>
                            <select id="editHostilities" name="hostilities" class="form-control">
                                <option value="true">Да</option>
                                <option value="false">Нет</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="editPersonalNumber">Личный номер:</label>
                            <input type="text" id="editPersonalNumber" name="personal_number" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="editMilitaryCommissariat">Военный комиссариат:</label>
                            <input type="text" id="editMilitaryCommissariat" name="military_commissariat" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="editMilitaryDistrict">Военный округ:</label>
                            <input type="text" id="editMilitaryDistrict" name="military_district" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="editPhoneNumber">Номер телефона:</label>
                            <input type="text" id="editPhoneNumber" name="phone_number" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="editCardNumber">Номер карты:</label>
                            <input type="text" id="editCardNumber" name="card_number" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="editPatientInfo">Информация о пациенте:</label>
                            <textarea id="editPatientInfo" name="patient_info" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="editMedicalType">Тип медосмотра:</label>
                            <input type="text" id="editMedicalType" name="medical_type" class="form-control">
                        </div>
                   
                        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap4.51.min.js"></script>
    <script src="/js/axios.min.js"></script>
    <script src="/js/moment.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
        const today = new Date();
        const maxDate = new Date();
        maxDate.setFullYear(today.getFullYear() + 1); // Добавляем 1 год к текущей дате
        const formattedMaxDate = maxDate.toISOString().split('T')[0]; // Форматируем как YYYY-MM-DD
        const minHospitalizationDate = '1900-01-01'; // Минимальная дата

        document.getElementById('date').setAttribute('min', minHospitalizationDate);
        document.getElementById('date').setAttribute('max', formattedMaxDate);
    });


        document.addEventListener('DOMContentLoaded', (event) => {
                const today = new Date();
                const maxDate = new Date();
                maxDate.setFullYear(today.getFullYear() + 1); // Добавляем 1 год к сегодняшней дате
                const formattedMaxDate = maxDate.toISOString().split('T')[0]; // Форматируем как YYYY-MM-DD
                const minVVKDate = '1900-01-01'; // Минимальная дата

                document.getElementById('vvk_date').setAttribute('min', minVVKDate);
                document.getElementById('vvk_date').setAttribute('max', formattedMaxDate);
            });



        document.addEventListener('DOMContentLoaded', (event) => {
        const today = new Date().toISOString().split('T')[0]; // Текущая дата в формате YYYY-MM-DD
        const minBirthday = '1900-01-01'; // Минимальная дата рождения

        document.getElementById('editBirthday').setAttribute('min', minBirthday);
        document.getElementById('editBirthday').setAttribute('max', today);
    });
            

        function printVvk(patientId) {
            fetch(`/clinic/vvk-report/${patientId}`, {  // Используйте маршрут для создания документа
                method: 'GET',  // Используем GET, так как маршрут получает данные и возвращает файл
            })
            .then(response => response.json())
            .then(data => {
                if (data.download_link) {
                    // Открытие ссылки для скачивания документа
                    window.location.href = data.download_link;
                } else {
                    console.error('Failed to get download link');
                }
            })
            .catch(error => console.error('Error creating document:', error));
        }



        function fetchVvks(patientId) {
            fetch(`/clinic/vvk/?patient_id=${patientId}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Failed to fetch VVKs');
                    }
                    return response.json();
                })
                .then(data => {
                    const vvkList = document.getElementById('vvkList');
                    vvkList.innerHTML = '';
                    data.forEach(vvk => {
                        const row = `
                            <tr>
                                <td>${vvk.id}</td>
                                <td>${new Date(vvk.vvk_date).toLocaleDateString()}</td>
                                <td>${vvk.vvk_number}</td>
                                <td>${vvk.conclusion}</td>
                                <td>
                                    <button class="btn btn-danger btn-sm" onclick="deleteVvk(${vvk.id})">Удалить</button>
                                    <button class="btn btn-primary btn-sm" onclick="printVvk(${patientId})">Печать</button>
                                </td>
                            </tr>
                        `;
                        vvkList.innerHTML += row;
                    });
                })
                .catch(error => console.error('Error fetching VVKs:', error));
        }


        document.addEventListener('DOMContentLoaded', () => {
            fetchPatientData();

            fetchAppointments();
            fillEditPatientModal();
            
        

            document.getElementById('editPatientForm').addEventListener('submit', submitEditPatientForm);

            document.getElementById('deletePatientButton').addEventListener('click', deletePatient);
        });
            function createVvk() {
                const form = document.getElementById('createVvkForm');
                const formData = new FormData(form);
                const patientId = formData.get('patient_id');

                fetch('/clinic/vvk/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        patient_id: patientId,
                        vvk_date: formData.get('vvk_date'),
                        vvk_number: formData.get('vvk_number'),
                        conclusion: formData.get('conclusion')
                    })
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Failed to create VVK');
                    }
                    return response.json();
                })
                .then(data => {
                    $('#createVvkModal').modal('hide');
                    form.reset(); // Сбросить форму после успешной отправки
                    fetchVvks(patientId); // Обновить данные после создания VVK
                })
                .catch(error => {
                    console.error('Error creating VVK:', error);
                    // Добавьте здесь логирование ошибки или отображение пользователю
                });
            }


        function deleteVvk(vvkId) {
            if (confirm('Вы уверены, что хотите удалить эту запись VVK?')) {
                fetch(`/clinic/vvk/${vvkId}`, {
                    method: 'DELETE'
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Failed to delete VVK');
                    }
                    return response.json();
                })
                .then(data => {
                    const patientId = document.getElementById('patient_id').value;
                    fetchVvks(patientId);
                })
                .catch(error => console.error('Error deleting VVK:', error));
            }
        }

        const patientId = "{{ patient_id }}"; // Замените на динамический ID пациента

        fetchVvks(patientId);


        function fetchHospitalizations() {
            fetch(`/clinic/patients/${patientId}/hospitalizations/`)
                .then(response => response.json())
                .then(data => {
                    const list = document.getElementById('hospitalization-list');
                    list.innerHTML = '';
                    data.forEach(hospitalization => {
                        const tr = document.createElement('tr');
                        tr.innerHTML = `
                        
                            <td>${hospitalization.date}</td>
                            <td>${hospitalization.diagnosis}</td>
                            <td>${hospitalization.direction}</td>
                            <td>
                                <button class="btn btn-danger btn-sm" onclick="deleteHospitalization(${hospitalization.id})">Delete</button>
                                <button class="btn btn-primary btn-sm" onclick="printHospitalization(${patientId})">Печать</button>
                                
                            </td>
                        `;
                        list.appendChild(tr);
                    });
                });
        }
            function printHospitalization(hospitalizationId) {
                // Вызов роутера для генерации документа о госпитализации
                fetch(`/clinic/hospitalization-report/${hospitalizationId}`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Ошибка при генерации документа');
                        }
                        return response.json();
                    })
                    .then(data => {
                        // Здесь вы можете обработать ссылку на скачивание документа
                        // Например, открыть его в новой вкладке или показать пользователю
                        window.open(data.download_link, '_blank');
                    })
                    .catch(error => {
                        console.error('Ошибка:', error);
                        alert('Не удалось сгенерировать документ. Попробуйте позже.');
                    });
            }

            function deleteHospitalization(hospitalizationId) {
                // Запрашиваем подтверждение у пользователя
                if (window.confirm('Вы уверены, что хотите удалить эту госпитализацию?')) {
                    fetch(`/clinic/hospitalizations/${hospitalizationId}`, {
                        method: 'DELETE'
                    })
                    .then(response => {
                        if (response.ok) {
                            // Успешное удаление, без тела ответа
                            fetchHospitalizations();
                        } else {
                            return response.json().then(errorData => {
                                throw new Error(errorData.detail || 'Unknown error');
                            });
                        }
                    })
                    .catch(error => {
                        console.error('Ошибка при удалении госпитализации:', error);
                    });
                } else {
                    console.log('Удаление отменено.');
                }
            }



        document.addEventListener('DOMContentLoaded', () => {
    // Предполагаем, что у вас есть способ получить идентификатор пациента
    const patientId = document.getElementById('patient_id').value;

    document.getElementById('hospitalization-form').addEventListener('submit', function(event) {
        event.preventDefault();
        const date = document.getElementById('date').value;
        const diagnosis = document.getElementById('diagnosis').value;
        const direction = document.getElementById('direction').value;

        fetch(`/clinic/patients/${patientId}/hospitalizations/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ 
                patient_id: patientId, 
                date, 
                diagnosis, 
                direction 
            })
        })
        .then(response => response.json())
        .then(data => {
            if (data.error) {
                alert(`Ошибка: ${data.error}`);
            } else {
                $('#addHospitalizationModal').modal('hide');
                fetchHospitalizations();
            }
        })
        .catch(error => {
            alert(`Произошла ошибка: ${error.message}`);
        });
    });

});


        fetchHospitalizations();


        async function fetchPatientData() {
    const patientId = "{{ patient_id }}";  // Получение ID пациента из контекста
    try {
        const response = await fetch(`/clinic/clinic_data/${patientId}`);
        if (!response.ok) {
            throw new Error('Не удалось загрузить данные пациента');
        }

        const patient = await response.json();

        // Форматирование даты текущего времени
        const currentTime = new Date(patient.current_time);
        const formattedTime = currentTime.toLocaleDateString('ru-RU') + ' в ' + 
            currentTime.toLocaleTimeString('ru-RU', { hour: '2-digit', minute: '2-digit' });
        
        // Заполнение HTML данными пациента с использованием стилей
        const patientDetails = document.getElementById('patient-details');
        patientDetails.innerHTML = `
            <div class="row ${patient.card_number ? '' : 'empty-field'}"><strong>Номер карты:</strong> <span>${patient.card_number || 'Не указано'}</span></div>
            <div class="row ${patient.full_name ? '' : 'empty-field'}"><strong>ФИО:</strong> <span><b>${patient.full_name || 'Не указано'}</b></span></div>
            <div class="row ${patient.directed ? '' : 'empty-field'}"><strong>Кем направлен:</strong> <span>${patient.directed || 'Не указано'}</span></div>
            <div class="row ${patient.birthday ? '' : 'empty-field'}"><strong>Дата рождения:</strong> <span>${patient.birthday ? new Date(patient.birthday).toLocaleDateString('ru-RU') : 'Не указано'}</span></div>
            <div class="row ${patient.address ? '' : 'empty-field'}"><strong>Адрес:</strong> <span>${patient.address || 'Не указано'}</span></div>
            <div class="row ${patient.document ? '' : 'empty-field'}"><strong>Личный документ (ВБ, паспорт):</strong> <span>${patient.document || 'Не указано'}</span></div>
            <div class="row ${patient.military_unit ? '' : 'empty-field'}"><strong>Воинская часть:</strong> <span>${patient.military_unit || 'Не указано'}</span></div>
            <div class="row ${patient.military_rank ? '' : 'empty-field'}"><strong>Воинское звание:</strong> <span>${patient.military_rank || 'Не указано'}</span></div>
            <div class="row ${patient.belonging ? '' : 'empty-field'}"><strong>Принадлежность:</strong> <span>${patient.belonging || 'Не указано'}</span></div>
            <div class="row ${patient.hostilities !== undefined ? '' : 'empty-field'}"><strong>Участие в боевых действиях:</strong> <span>${patient.hostilities !== undefined ? (patient.hostilities ? 'Да' : 'Нет') : 'Не указано'}</span></div>
            <div class="row ${patient.personal_number ? '' : 'empty-field'}"><strong>Личный номер:</strong> <span>${patient.personal_number || 'Не указано'}</span></div>
            <div class="row ${patient.military_commissariat ? '' : 'empty-field'}"><strong>Военный комиссариат:</strong> <span>${patient.military_commissariat || 'Не указано'}</span></div>
            <div class="row ${patient.military_district ? '' : 'empty-field'}"><strong>Военный округ:</strong> <span>${patient.military_district || 'Не указано'}</span></div>
            <div class="row ${patient.phone_number ? '' : 'empty-field'}"><strong>Номер телефона:</strong> <span>${patient.phone_number || 'Не указано'}</span></div>
            <div class="row ${patient.patient_info ? '' : 'empty-field'}"><strong>Информация о пациенте:</strong> <span>${patient.patient_info || 'Не указано'}</span></div>
            <div class="row ${patient.medical_type ? '' : 'empty-field'}"><strong>Тип медицинской помощи:</strong> <span>${patient.medical_type || 'Не указано'}</span></div>
            <div class="row ${patient.current_time ? '' : 'empty-field'}"><strong>Дата первого обращения в поликлинику:</strong> <span>${formattedTime || 'Не указано'}</span></div>
        `;
    } catch (error) {
        alert("Ошибка загрузки данных пациента: " + error.message);
    }
}



        async function loadDoctors() {
            try {
                const response = await fetch('/clinic/doctors/');
                const doctors = await response.json();

                if (response.ok) {
                    const doctorSelect = document.getElementById('doctor');
                    doctors.forEach(doctor => {
                        const option = document.createElement('option');
                        option.value = doctor.id;
                        option.textContent = doctor.doctor_type +" " +  doctor.full_name;
                        doctorSelect.appendChild(option);
                    });
                } else {
                    throw new Error(doctors.detail);
                }
            } catch (error) {
                alert("Ошибка загрузки списка врачей: " + error.message);
            }
        }

     

        

        async function fetchAppointments() {
    const patientId = "{{ patient_id }}";
    try {
        const response = await fetch(`/clinic/appointments/${patientId}`);
        const appointments = await response.json();
        console.log(appointments)
        if (response.ok) {
            const activeAppointmentsContainer = document.getElementById('active-appointments-container');
            const inactiveAppointmentsContainer = document.getElementById('inactive-appointments-container');
            activeAppointmentsContainer.innerHTML = '';
            inactiveAppointmentsContainer.innerHTML = '';

            const now = new Date();

            // Проверяем, является ли appointments массивом
            if (Array.isArray(appointments)) {
                appointments.forEach(appointment => {
                    const appointmentDate = moment(appointment.datetime_q, 'DD.MM.YYYY в HH:mm').toDate();

                    const appointmentCard = document.createElement('div');
                    appointmentCard.classList.add('card', 'mb-3');

                    console.log('Appointment Date:', appointmentDate);
                    console.log('Now:', now);

                    const cardBody = document.createElement('div');
                    cardBody.classList.add('card-body');

                    const cardTitle = document.createElement('h5');
                    cardTitle.classList.add('card-title');
                    cardTitle.textContent = `Дата и время: ${appointment.datetime_q}`;

                    const doctorName = document.createElement('p');
                    doctorName.classList.add('card-text');
                    doctorName.textContent = `Врач: ${appointment.doctor_full_name}`;

                    const note = document.createElement('p');
                    note.classList.add('card-text');
                    note.innerHTML = appointment.note ? `Заметка при записи на приём: ${appointment.note}` : 'Заметка при записи на приём: <span class="no-data">Нет данных</span>';

                    const doctorReport = document.createElement('p');
                    doctorReport.classList.add('card-text');
                    doctorReport.innerHTML = appointment.doctor_report ? `Диагноз врача / отметка об осмотре: ${appointment.doctor_report}` : 'Диагноз врача / отметка об осмотре: <span class="no-data">Нет данных</span>';

                    const doctorNote = document.createElement('p');
                    doctorNote.classList.add('card-text');
                    doctorNote.innerHTML = appointment.doctor_note ? `Примечание врача о пациенте: ${appointment.doctor_note}` : 'Примечание врача о пациенте: <span class="no-data">Нет данных</span>';

                    // Создание кнопки удаления
                    const deleteButton = document.createElement('button');
                    deleteButton.textContent = 'Удалить';
                    deleteButton.classList.add('btn', 'btn-danger');
                    deleteButton.addEventListener('click', async () => {
                        // Запрашиваем подтверждение у пользователя
                        const confirmDelete = window.confirm('Вы уверены, что хотите удалить эту запись?');

                        if (confirmDelete) {
                            try {
                                const deleteResponse = await fetch(`/clinic/appointments/${appointment.id}`, {
                                    method: 'DELETE'
                                });
                                if (deleteResponse.ok) {
                                    appointmentCard.remove(); // Удаляем карточку из интерфейса
                                } else {
                                    throw new Error('Ошибка удаления записи');
                                }
                            } catch (error) {
                                console.error('Ошибка удаления записи:', error.message);
                            }
                        } else {
                            console.log('Удаление отменено.');
                        }
                    });


                    cardBody.appendChild(cardTitle);
                    cardBody.appendChild(doctorName);
                    cardBody.appendChild(note);
                    cardBody.appendChild(doctorReport);
                    cardBody.appendChild(doctorNote);
                    cardBody.appendChild(deleteButton); // Добавляем кнопку удаления в карточку
                    appointmentCard.appendChild(cardBody);

                    if (appointmentDate.getTime() >= now.getTime()) {
                        activeAppointmentsContainer.appendChild(appointmentCard);
                    } else {
                        inactiveAppointmentsContainer.appendChild(appointmentCard);
                    }
                });
            } else {
                console.error("Ошибка: appointments не является массивом", appointments);
            }
        } else {
            throw new Error(appointments.detail);
        }
    } catch (error) {
        console.error("Ошибка загрузки записей: " + error.message);
    }
}



        async function deletePatient() {
            const patientId = "{{ patient_id }}";
            if (confirm("Вы уверены, что хотите удалить этого пациента?")) {
                try {
                    const response = await fetch(`/clinic/delete_patient/${patientId}`, {
                        method: 'DELETE'
                    });

                    if (response.ok) {
                        alert('Пациент успешно удален');
                        window.location.href = '/clinic/patient/'; // Перенаправить на страницу списка пациентов
                    } else {
                        const error = await response.json();
                        alert(`Ошибка удаления пациента: ${error.message}`);
                    }
                } catch (error) {
                    alert(`Ошибка удаления пациента: ${error.message}`);
                }
            }
        }


        document.addEventListener('DOMContentLoaded', () => {
            fetchPatientData();
            loadDoctors();
            fetchAppointments();
            fillEditPatientModal()
            
            document.getElementById('appointmentForm').addEventListener('submit', async function(e) {
                e.preventDefault();

                const formData = new FormData(e.target);
                formData.append('patient_id', "{{ patient_id }}"); // Добавление patient_id в данные формы

                const data = Object.fromEntries(formData.entries());
                // Получаем значение из поля datetime-local
                const datetimeInput = document.getElementById('datetime_q').value;

                // Преобразуем строку с датой и временем в формате datetime-local в ISO-строку
                data.datetime_q = new Date(datetimeInput).toISOString();

                try {
                    const appointmentResponse = await fetch('/clinic/appointments/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        },
                        body: new URLSearchParams(data) // Используем URLSearchParams для отправки данных формы
                    });
                    
                    fetchAppointments(); 

                    const appointmentResult =   await appointmentResponse.json();
                    window.location.href = window.location.href;
                } catch (error) {
                    alert(`Ошибка обновления данных пациента: ${error.message}`);
                }
            });

            document.getElementById('editPatientForm').addEventListener('submit', submitEditPatientForm);

            document.getElementById('deletePatientButton').addEventListener('click', deletePatient);

        });

        async function fillEditPatientModal() {
                        const patientId = "{{ patient_id }}";
                        try {
                            const response = await fetch(`/clinic/clinic_data/${patientId}`);
                            const patient = await response.json();
                            if (response.ok) {                
                                document.getElementById('editFullName').value = patient.full_name || '';
                                document.getElementById('editDirected').value = patient.directed || '';
                                
                                if (patient.birthday) {
                const date = new Date(patient.birthday);
                
                // Проверяем, является ли дата корректной
                if (!isNaN(date.getTime())) {
                    const year = date.getFullYear();
                    const month = String(date.getMonth() + 1).padStart(2, '0'); // Месяцы начинаются с 0
                    const day = String(date.getDate()).padStart(2, '0');
                    
                    document.getElementById('editBirthday').value = `${year}-${month}-${day}`;
                } else {
                    document.getElementById('editBirthday').value = ''; // Если дата некорректна
                }
            } else {
                document.getElementById('editBirthday').value = ''; // Если birthday отсутствует
        }
                    
                    document.getElementById('editAddress').value = patient.address || '';
          
                    document.getElementById('editDocument').value = patient.document || '';
                    document.getElementById('editMilitaryUnit').value = patient.military_unit || '';
                    document.getElementById('editMilitaryRank').value = patient.military_rank || '';
                    document.getElementById('editBelonging').value = patient.belonging || '';
                    document.getElementById('editHostilities').checked = patient.hostilities || false;
                    document.getElementById('editPersonalNumber').value = patient.personal_number || '';
                    document.getElementById('editMilitaryCommissariat').value = patient.military_commissariat || '';
                    document.getElementById('editMilitaryDistrict').value = patient.military_district || '';
                    document.getElementById('editPhoneNumber').value = patient.phone_number || '';
                    document.getElementById('editCardNumber').value = patient.card_number || '';
                    document.getElementById('editPatientInfo').value = patient.patient_info || '';
                    document.getElementById('editMedicalType').value = patient.medical_type || '';


                } else {
                    throw new Error(patient.detail || 'Ошибка загрузки данных пациента');
                }
            } catch (error) {
                alert("Ошибка загрузки данных пациента: " + error.message);
            }
        }


        async function submitEditPatientForm(event) {
            event.preventDefault();
            const patientId = "{{ patient_id }}";

            const formData = {
                full_name: document.getElementById('editFullName').value,
                directed: document.getElementById('editDirected').value,
                birthday: document.getElementById('editBirthday').value,
                address: document.getElementById('editAddress').value,
                document: document.getElementById('editDocument').value,
                military_unit: document.getElementById('editMilitaryUnit').value,
                military_rank: document.getElementById('editMilitaryRank').value,
                belonging: document.getElementById('editBelonging').value,
                hostilities: document.getElementById('editHostilities').value,
                personal_number: document.getElementById('editPersonalNumber').value,
                military_commissariat: document.getElementById('editMilitaryCommissariat').value,
                military_district: document.getElementById('editMilitaryDistrict').value,
                phone_number: document.getElementById('editPhoneNumber').value,
                card_number: document.getElementById('editCardNumber').value,
                patient_info: document.getElementById('editPatientInfo').value,
                medical_type: document.getElementById('editMedicalType').value,

            };


            try {
                const response = await fetch(`/clinic/update_patient/${patientId}`, {
                    method: 'PUT',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(formData)
                });

                if (response.ok) {
                    alert('Данные пациента успешно обновлены');
                    $('#editPatientModal').modal('hide');
                    fetchPatientData();
                } else {
                    const error = await response.json();
                    alert(`Ошибка обновления данных пациента: ${error.message}`);
                }
            } catch (error) {
                alert(`Ошибка обновления данных пациента: ${error.message}`);
            }
        }
    </script>
    {% endblock %}
</body>
</html>
