<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/logo_first.png" type="image/png">
    <title>Открытие военного госпиталя</title>
    <style>        
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .container {
            max-width: 1000px;
            margin: 40px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }
        h1, h2, h3 {
            text-align: center;
            margin-top: 30px;
            margin-bottom: 20px;
        }
        p {
            margin-bottom: 20px;
            font-size: 16px; 
            line-height: 1.6;
        }
        .image-container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            margin-bottom: 20px;
        }
        .image-container img {
            max-width: 48%;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .fig {
            display: block;
            text-align: center;
            font-style: italic;
            margin-top: 0;
            margin-bottom: 20px;
            color: #666;
            font-size: 19px; 
        }
        .quote {
            font-style: italic;
            color: #555;
            padding: 10px 20px;
            border-left: 3px solid #ccc;
            margin: 20px 0;
        }
        .video-container {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }
        .video-container video {
            max-width: 100%;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        
    </style>
    <link rel="icon" href="/img/logo_first.png" type="image/png">
</head>
<body>
    {% extends "base.html" %}

    {% block styles %}
        <link rel="stylesheet" href="/css/hat.css">
    {% endblock %}
    
    {% block content %}
    <div class="container">
        <h1>Открытие военного госпиталя в Казани</h1>
        <div class="image-container" style="max-width: 98%;">
            <figure class="fig">
                <img style="max-width: 98%;" src="/img/about1.jpg" alt="Открытие военного госпиталя">
                <figcaption>Открытие военного госпиталя в г. Казань</figcaption>
            </figure>
        </div>
        <p>В Казани на улице Рауиса Гареева, рядом с Республиканской клинической больницей (РКБ) и Детской республиканской клинической больницей (ДРКБ), открылся военный госпиталь на 150 мест. Участие в церемонии приняли Премьер-министр Татарстана Алексей Песошин и начальник Генерального штаба Вооруженных Сил РФ – первый заместитель министра обороны России, генерал армии Валерий Герасимов.</p>

        <p>Медучреждение состоит из нескольких корпусов. Например, в диагностическом корпусе с палатным блоком на 120 коек находятся дневной стационар, клинико-диагностическая лаборатория с микробиологической группой, приемное, стоматологическое, диагностическое и физиотерапевтическое отделения. Кроме того, пациенты могут пройти лучевую диагностику.</p>

        <div class="image-container">
            <img src="/img/about0.jpg" alt="Лечебный корпус">
            <img src="/img/about2.jpg" alt="Лечебный корпус">
        </div>
        <div class="image-container">
            
            <img src="/img/about4.jpg" alt="Лечебный корпус">
            <img src="/img/about5.jpg" alt="Лечебный корпус">
        </div>
        
 

        <p>Лечебный корпус состоит из операционного, хирургического, терапевтического, неврологического и кожно-венерологического отделений. Здесь же располагается поликлиника, где посетители могут получить амбулаторную помощь, при необходимости медработники направят их в стационар. За одну смену поликлиника готова принять 250 посетителей.</p>

        <p>Инфекционный корпус на 30 мест располагает приемным отделением, кабинетами с отдельным выходом и внутренним шлюзом, дезинфекционным блоком и бытовыми помещениями. К зданию организованы отдельные подъездные пути. В административно-бытовом корпусе находятся медчасть, пищеблок, отдел снабжения, аптека, клуб с библиотекой и конференц-зал на 200 мест.</p>

        <p>В медучреждении готовы оказать экстренную медицинскую помощь пациентам, пострадавшим в результате аварий, катастроф и локальных военных конфликтов. В госпиталь могут доставить раненых, в том числе с помощью авиационного транспорта. Больница включена в систему ликвидации последствий чрезвычайных ситуаций Службы медицины катастроф.</p>

        <div class="quote">
            <p>«Военный госпиталь – это отвечающее всем современным требованиям многопрофильное медицинское учреждение. В нем есть все условия для оказания экстренной специализированной медицинской помощи военнослужащим, военным пенсионерам, а также другим категориям граждан, имеющим право на получение медицинской помощи в военных лечебных учреждениях Министерства обороны России», – отметил на церемонии открытия Премьер-министр Татарстана Алексей Песошин.</p>
        </div>

        <p>Начальник Генерального штаба Вооруженных Сил РФ – первый заместитель министра обороны России, генерал армии Валерий Герасимов в свою очередь сообщил, что за 9 месяцев прошлого года силами военно-строительного комплекса Министерства обороны в 27 субъектах России возведены 30 многофункциональных лечебных центров и инфекционных отделений на 3 тыс. мест.</p>

        <p>Казанский военный госпиталь построен за один год. В строительных работах принимали участие более 1 тысячи человек и 53 единицы техники, сообщает пресс-служба Президента Татарстана.</p>

        <div class="video-container">
            <video controls>
                <source src="/img/aboutvid0.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

        <p>Для удобства пациентов и их близких, госпиталь оборудован современными медицинскими приборами, просторными палатами и зонами отдыха. На территории комплекса предусмотрены зеленые зоны для прогулок, что способствует скорейшему восстановлению пациентов.</p>
    </div>

    <div class="container">
        <h1 style="text-shadow: #555; font-style: oblique;">СПРАВКА-ДОКЛАД</h1>
        <h1> 
            Начальника Военного Госпиталя (на 150 коек, г. Казань)
            Федеральное Государственное Казенное Учреждение
            «354 Военный Клинический Госпиталь»
            Министерства Обороны Российской Федерации
            по состоянию на 2024 год.
            </h1>
   
        <p>Военный госпиталь (на 150 коек, г. Казань) ФГКУ «354 ВКГ» Минобороны России, далее военный	госпиталь, на 150 коек и 250 амбулаторных посещений в смену предназначен для оказания медицинской помощи военнослужащим и другим лицам, имеющим право на лечение в военных медицинских учреждениях Министерства обороны России. В госпитале проводится обследование, лечение, медицинская реабилитация и военно-врачебная экспертиза.
            Основная задача Военного госпиталя заключается в предоставлении высококачественной медицинской помощи военнослужащим, членам их семей и другим категориям граждан, имеющих право на лечение в военных медицинских учреждениях. Госпиталь также выполняет задачи по медицинскому обследованию, лечению, реабилитации и военно-врачебной экспертизе.
            Объекты построены за территорией Республиканской клинической больницы, на земельным участке, площадью 5,05 Га, общей площадью – 33 317,08 кв.м.
        </p>

        <p>Главный корпус: палатный и лечебно-диагностические блоки, в составе которого размещаются основные лечебные и диагностические подразделения для стационарных пациентов неинфекционного профиля. Площадь – 21 422,08 кв.м.
            В составе главного корпуса:
            - стационар на 150 коек;
            - поликлиника на 250 посещений в смену.
            Режим работы поликлиники – 1 сменный.
            Здание 4-х этажное с подвалом и техническим этажом:
            В подвальном этаже: дезинфекционный блок, технические и служебно-бытовые помещения, помещение для временного хранения трупов, помещение для временного хранения медицинских отходов, ЦСО;
            На первом этаже: кожно-венерологическое отделение на 20 коек, поликлинические отделения (кабинет УЗИ, кабинет функциональной диагностики), отделение лучевой диагностики (поликлиника и стационар), кабинет гипербарической оксигенации;
            На втором этаже: неврологическое отделение на 20 коек, хирургическое отделение (поликлиника), клинико-диагностическая лаборатория (поликлиника и стационар), служебно-бытовые и хозяйственные помещения;
            На третьем этаже: терапевтическое отделение на 35 коек, госпитальное отделение (дневной стационар на 10 коек), отделение физиотерапия ЛФК (стационар) стоматологическое отделение (поликлиника и стационар), кабинет функциональной диагностики, эндоскопический кабинет;
            На четвертом этаже: хирургическое отделение на 30 коек, хирургическое отделение на 10 коек, отделение анестезиологии и реанимации на 5 коек. операционное отделение (септический и асептический блоки);
            На техническом этаже: подсобные и вспомогательные помещения.</p>

        <p>
            Инфекционный корпус - одноэтажное здание с подвалом, без чердака, мощность на 30 коек, площадь – 5 041 кв.м. 
            В подвальном этаже: помещения отделения дезинфекции, помещение для временного хранения трупов, вспомогательные и технические помещения;
            На первом этаже: боксы на 1 и 2 койки, полубоксы на 1 и 2 койки, боксы для МГН, полубоксы для МГН, буфет, санитарные и процедурные комнаты.

        </p>
        
        <p>
            Хозяйственный корпус с гаражами, состоящий из семи боксов предназначенных, для служебного транспорта и складскими помещениями, прачечной, площадью – 2 375,16 кв.м.
                Военный госпиталь имеет 5 единиц автомобильной техники: КамАЗ 65117-1ед, УАЗ 3962-01- 1ед, GAZ-Next -1ед, УАЗ 128811 (р) - 1ед, ЛУИДОР – 225033 -1ед. Осмотры автомобильной техники должностными лицами проводятся согласно установленных графиков проверки машин. Горюче-смазочными материалами и специальными жидкостями автомобильная техника обеспечена в пределах выделенного лимита. Условия хранения в полной мере обеспечивают качественную сохранность техники. Предрейсовый медицинский осмотр водителей проводится в полном объеме. В штате 5 водителей. 
            Имеются склады: вещевой, продовольственный, штат сотрудников  укомплектован. Имуществом продовольственной и вещевой службы военный госпиталь обеспечен. Хранение вещевого и продовольственного имущества соответствует нормам содержания. 
            Помещение прачечной не функционирует, стирка белья производится согласно договору на оказание услуг с ООО «Квадро» (аутсорсинг), качество удовлетворительное.
            Организация питания осуществляется по государственному контракту от 03.07.2024г. №30724/ВП  ООО «РБЕ «Филиал Поволжье» на условиях аутсорсинга.
        </p>
 

        <p>Административно-бытовой корпус с отделением выдачи готовых лекарственных средств (аптека), пищеблоком, административно-бытовыми помещениями, площадью – 4 112,48 кв.м.</p>

        <p>Здания КПП № 1, 2, 3, общей площадью – 247,92 кв.м.</p>

        <p>Пункт дезинфекции транспорта, площадью – 118,74 кв.м.
            Общая площадь объектов составляет 33 317,08 кв.м, что позволяет обеспечить полноценное функционирование госпиталя с вместимостью стационара на 150 коек и поликлиники на 250 посещений в смену. Инфраструктура госпиталя включает в себя все необходимые здания и помещения для оказания высококачественной медицинской помощи и поддержания санитарно-гигиенических норм.
            </p>

        <P>Военный госпиталь уделяет особое внимание профессиональному развитию и обучению своих сотрудников. Регулярно проводятся тренинги и семинары по повышению квалификации медицинского персонала, включая врачей, среднего и младшего медицинского персонала. Госпиталь также сотрудничает с ведущими медицинскими учреждениями для обмена опытом и внедрения передовых медицинских технологий и практик.
            В настоящее время получена лицензия от 17.01.2023 г. Объект функционирует в штатном режиме.
            В зоне медицинской ответственности военного госпиталя находится 17 811 человек:
            -	военнослужащих всего 2687, из них по призыву 346, по контракту 2341;
            -	члены семей военнослужащих 989;
            -	офицеры запаса (в отставке) 5981;
            -	члены семей офицеров запаса 6819;
            -	гражданский персонал ВС РФ 1335.
            Амбулаторная помощь в госпитале осуществляется с 17.01.2023 г.
            Зарегистрировано 67520 обращений, из них:
            -	военнослужащие по контракту 12153;
            -	военнослужащие, призванные по мобилизации 22957;
            -	курсанты КВТККУ 4727;
            -	военнослужащие по призыву 1350;
            -	пенсионеры министерства обороны 18231;
            -	члены семей пенсионеров и военнослужащих 6752;
            -	гражданский персонал министерства обороны 1350.
            Оказание медицинской помощи в стационарных условиях осуществляется с 19 января 2023 г. Всего с момента открытия госпиталя поступили 5569 пациентов, в том числе 4553 участник специальной военной операции. Выписано 5434 пациентов. Проведено 721 оперативных вмешательств. 
            </P>

        <p>В планах госпиталя дальнейшее развитие инфраструктуры, модернизация медицинского оборудования и расширение спектра оказываемых медицинских услуг. Особое внимание будет уделено внедрению новых технологий и методов лечения, а также продолжению работы по повышению квалификации медицинского персонала.</p>
    </div>
    {% endblock %}
</body>
</html>
